body {
    background-color: rgb(44, 77, 92);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        ". full-logo ."
        ". login .";
}

#full-logo {
    grid-area: full-logo;
}



    